<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Big League Baseball</title>

	<link href="https://fonts.googleapis.com/css?family=Anton|Roboto" rel="stylesheet">
	<link rel="stylesheet" href="/main.css">
</head>
<body>



<div class="split left split-vertical">
	<div class="gameArea">
		GAME AREA/PLACE TO PUT CANVAS
	</div>
	<footer>
		MESSAGE DISPLAY
	</footer>
</div>
<div class="split right">
	GAME STATUS SIDEBAR
</div>


<script src="/main.js" type="module"></script>
<script type="module">

</script>

</body>
</html>