<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Big League Baseball</title>

	<link href="https://fonts.googleapis.com/css?family=Anton|Roboto" rel="stylesheet">
	<link rel="stylesheet" href="/main.css">
</head>
<body>


		<canvas id="batterView" style="border:1px solid #d3d3d3;">
            Your browser does not support the HTML5 canvas tag.
        </canvas>    

		<canvas id="BatterWaitting">
            Your browser does not support the HTML5 canvas tag.
        </canvas>
		        
		<canvas id="PitcherWait">
            Your browser does not support the HTML5 canvas tag.
        </canvas>

		<canvas id="BatterHit">
            Your browser does not support the HTML5 canvas tag.
        </canvas>

		<canvas id="PitcherPitch">
            Your browser does not support the HTML5 canvas tag.
        </canvas>

		<canvas id="Ball">
             Your browser does not support the HTML5 canvas tag.
        </canvas>

		<canvas id="AboveView">
             Your browser does not support the HTML5 canvas tag.
        </canvas>

		<canvas id="FirstBaseView">
             Your browser does not support the HTML5 canvas tag.
        </canvas>

		<canvas id="SecondBaseView">
             Your browser does not support the HTML5 canvas tag.
        </canvas>

		<canvas id="ThirdBaseView">
             Your browser does not support the HTML5 canvas tag.
        </canvas>

		<canvas id="HomeBaseView">
             Your browser does not support the HTML5 canvas tag.
        </canvas>

		<canvas id="SwSideView">
             Your browser does not support the HTML5 canvas tag.
        </canvas>

        <img id="BallShaping" src="./assets/Ball_css_sprites.png" style="display: none;">
		<img id="PitcherPitching" src="./assets/RedTeam_Pitcher_Pitch_css_sprites.png" style="display: none;">
		<img id="BluePitcherPitching" src="./assets/BlueTeam_Pitcher_Pitch_css_sprites.png" style="display: none;">
		<img id="BatterHitting" src="./assets/Batter_Left_Hit_css_sprites.png" style="display: none;">
	    <img id="RedBatterHitting" src="./assets/RedTeam_Batter_Left_Hit_css_sprites.png" style="display: none;">
		<img id="viewPic" src="./assets/RedTeam_BackGround_css_sprites.png" style="display: none;">
		<img id="viewPic2" src="./assets/BlueTeam_BackGround_css_sprites.png" style="display: none;">
		<img id="BatterWait" src="./assets/BatterWaitting_css_sprites.png" style="display: none;">
		<img id="RedBatterWait" src="./assets/RedBatterWaitting_css_sprites.png" style="display: none;">
		<img id="PitcherWaiting" src="./assets/RedTeam_Pitcher_Waiting_css_sprites.png" style="display: none;">
		<img id="BluePitcherWaiting" src="./assets/BlueTeam_Pitcher_Waiting_css_sprites.png" style="display: none;">
		<img id="AboveViewField" src="./assets/field_css_sprites.png" style="display: none;">
		<img id="FirstBase" src="./assets/frist_base_css_sprites.png" style="display: none;">
		<img id="SecondBase" src="./assets/second_base_css_sprites.png" style="display: none;">
		<img id="ThirdBase" src="./assets/third_base_css_sprites.png" style="display: none;">
		<img id="HomeBase" src="./assets/home_base_css_sprites.png" style="display: none;">
		<img id="SwitchSide" src="./assets/Switch_Side_css_sprites.png" style="display: none;">

<div class="split left split-vertical">
	<div class="gameArea">


	</div>


	<footer>


		<button id="AnimationHit">Hit Animation</button>
		<button id="AnimationStrike">Strike Animation</button>
		<button id="AnimationOut">Out Animation</button>
		<button id="AnimationSwitch">Switch Animation</button>


		<div class="gridContainer" id="hitterMenu" style="display: none">
			<div class="messageHeader">What will the hitter do?</div>
			<div>
				Swing expecting:<br>
				<button>Slowball Straight</button><br>
				<button>Slowball High</button><br>
				<button>Slowball Low</button><br>
				<button>Slowball Inside</button><br>
			</div>
			<div>
				&nbsp;<br>
				<button>Fastball Straight</button><br>
				<button>Fastball High</button><br>
				<button>Fastball Low</button><br>
				<button>Fastball Inside</button><br>
			</div>
			<div>
				&nbsp;<br>
				<button>Curveball Outside</button><br>
				<button>Curveball High</button><br>
				<button>Curveball Low</button><br>
				<button>Curveball Inside</button><br>
			</div>
			<div>
				Or take:<br>
				<button>Take Pitch</button><br>
			</div>
		</div>
		<div class="gridContainer" id="pitcherMenu" style="display: none">
			<div class="messageHeader">What will the pitcher do?</div>
			<div>
				Throw:<br>
				<button>Slowball Straight</button><br>
				<button>Slowball High</button><br>
				<button>Slowball Low</button><br>
				<button>Slowball Inside</button><br>
			</div>
			<div>
				&nbsp;<br>
				<button>Fastball Straight</button><br>
				<button>Fastball High</button><br>
				<button>Fastball Low</button><br>
				<button>Fastball Inside</button><br>
			</div>
			<div>
				&nbsp;<br>
				<button>Curveball Outside</button><br>
				<button>Curveball High</button><br>
				<button>Curveball Low</button><br>
				<button>Curveball Inside</button><br>
			</div>
		</div>
		<div class="gridContainer" id="gameLog" style="display: grid">
			Status messages go here
		</div>
	</footer>
</div>
<div class="split right">
	<div class="gridContainer" id="scoreGrid">
		<div class="gridItem">Away</div>
			<div class="score gridItem">0-0</div>
		<div class="gridItem">Home</div>
	</div>
	<div class="gridContainer">
		<table style="width: 100%">
			<tr>
				<th></th>
				<th>1</th>
				<th>2</th>
				<th>3</th>
				<th>4</th>
				<th>5</th>
				<th>6</th>
				<th>7</th>
				<th>8</th>
				<th>9</th>
				<th>R</th>
			</tr>
			<tr>
				<th>Away</th>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>0</td>
			</tr>
			<tr>
				<th>Home</th>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>0</td>
			</tr>
		</table>
	</div>
	<div class="gridContainer" id="scoreGrid">
		<div class="gridItem" id="inning">
			&#9650; 1
		</div>
		<p class="gridItem" id="count">
			0-0<br>
			0 Out
		</p>
		<div class="gridItem" id="bases">
			<svg width="100%" height="auto">
				<rect
						id="rect3713"
						width="33.277573"
						height="33.277573"
						x="-1.696068"
						y="79.455223"
						style="fill:#ffffff;fill-opacity:0;stroke:#ffffff;stroke-width:1.46901;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
						transform="rotate(-45)" />
				<rect
						id="rect3713-3"
						width="33.277573"
						height="33.277573"
						x="-40.093128"
						y="41.058174"
						style="fill:#ffffff;fill-opacity:0;stroke:#ffffff;stroke-width:1.46901;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
						transform="rotate(-45)" />
				<rect
						id="rect3713-3-6"
						width="33.277573"
						height="33.277573"
						x="-1.4734662"
						y="41.058174"
						style="fill:#ffffff;fill-opacity:0;stroke:#ffffff;stroke-width:1.46901;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
						transform="rotate(-45)" />
			</svg>
		</div>
	</div>
	<div class="gridContainer">
		At Bat:<br>
		Player Name - Position<br>
		Strengths: Pitches
	</div>
	<br>
	<div class="gridContainer">
		Pitching:<br>
		Player Name - Position<br>
		Throws: Pitches
	</div>


</div>



<script src="/main.js" type="module"></script>
<script type="module">

	import {BackGroundOnload, BatterWaitOnload, PitcherWaitOnload, drawPitchHit, drawSwingStrike, drawTakeOut, SwitchSideOnload } from "./Animation.js";
	window.addEventListener("load", BackGroundOnload);
	window.addEventListener("load", BatterWaitOnload);
    window.addEventListener("load", PitcherWaitOnload);
    document.getElementById("AnimationHit").addEventListener("click", drawPitchHit);
	document.getElementById("AnimationStrike").addEventListener("click", drawSwingStrike);
	document.getElementById("AnimationOut").addEventListener("click", drawTakeOut);
	document.getElementById("AnimationSwitch").addEventListener("click", SwitchSideOnload);


</script>

</body>
</html>