<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Big League Baseball</title>

	<link href="https://fonts.googleapis.com/css?family=Anton|Roboto" rel="stylesheet">
	<link rel="stylesheet" href="/main.css">
</head>
<body>


		<canvas id="batterView" style="border:1px solid #d3d3d3;">
            Your browser does not support the HTML5 canvas tag.
        </canvas>    

		<canvas id="BatterWaitting">
            Your browser does not support the HTML5 canvas tag.
        </canvas>
		        
		<canvas id="PitcherWait">
            Your browser does not support the HTML5 canvas tag.
        </canvas>

		<canvas id="BatterHit">
            Your browser does not support the HTML5 canvas tag.
        </canvas>

		<canvas id="PitcherPitch">
            Your browser does not support the HTML5 canvas tag.
        </canvas>

		<canvas id="Ball">
             Your browser does not support the HTML5 canvas tag.
        </canvas>

        <img id="BallShaping" src="./assets/Ball_css_sprites.png" style="display: none;">
		<img id="PitcherPitching" src="./assets/RedTeam_Pitcher_Pitch_css_sprites.png" style="display: none;">
		<img id="BatterHitting" src="./assets/Batter_Left_Hit_css_sprites.png" style="display: none;">
	    <img id="viewPic" src="./assets/RedTeam_BackGround_css_sprites.png" style="display: none;">
		<img id="BatterWait" src="./assets/BatterWaitting_css_sprites.png" style="display: none;">
		<img id="PitcherWaiting" src="./assets/RedTeam_Pitcher_Waiting_css_sprites.png" style="display: none;">


<div class="split left split-vertical">
	<div class="gameArea">


	</div>


	<footer>
		MESSAGE DISPLAY
		<button id="AnimationHit">Hit Animation</button>
	</footer>
</div>
<div class="split right">
	GAME STATUS SIDEBAR
</div>



<script src="/main.js" type="module"></script>
<script type="module">

	import {RedTeamBackGroundOnload, BatterWaitOnload, PitcherWaitOnload, drawPitchHit } from "./Animation.js";
	window.addEventListener("load", RedTeamBackGroundOnload);
	window.addEventListener("load", BatterWaitOnload);
    window.addEventListener("load", PitcherWaitOnload);
    document.getElementById("AnimationHit").addEventListener("click", drawPitchHit);

</script>

</body>
</html>