<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Big League Baseball</title>

	<link href="https://fonts.googleapis.com/css?family=Anton|Roboto" rel="stylesheet">
	<link rel="stylesheet" href="/main.css">
</head>
<body>

<p class="title">Big League Baseball</p>

<p class="head">Play as:</p>

<form action="/game" method="POST">
	<input type="radio" name="location" value="home">&nbsp;Home &nbsp;<input type="radio" name="location" value="away">&nbsp;Away<br>
	<input type="submit" value="Next">
</form>

</body>


</html>